<h1>What's your<br>word worth?</h1>
<form action='/submitted'>
  <div class="form-group">
     <label for="self">Enter your scrabble word here:</label>
     <input id="self" name="self" class="form-control" type="text" placeholder="Good luck!">
  </div>
  <button type="submit" class="btn-success">Score my word!</button>
</form>
